# Node build artifacts
/node_modules
npm-debug.log

# Bower
/bower_components/

# Distribution

/dist

# SASS cache

/.sass-cache

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# My notes
TODO
