/* These css rules were taken directly from http://getbootstrap.com/examples/sticky-footer/sticky-footer.css*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

OKAY The css is being odd.  It looks like the size of the parent form is independent
of the form elements, so setting them to 5% looks fine and dandy, but any element that
is supposed to be adjacent to them won't be, since they're aligned with the parent...

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
